<div id="<%= dom_id street %>">
  <p>
    <strong>Country:</strong>
    <%= street.country_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= street.city %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= street.street_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= street.location %>
  </p>

</div>
